.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.chat-box {
  flex: 1;
  max-height: none;
  overflow: hidden;
}

.chat-input {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}
