.chat-input {
  display: flex;
  background-color: #f0f0f0;
  padding: 10px;
  position: sticky;
  bottom: 0;
  width:60%;
  max-width:60%;
}

.chat-input textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  height: 100%;
  white-space: pre-wrap; /* This allows text to wrap to the next line */
  overflow-wrap: break-word; /* Handles long words */
  resize: none; /* Disables the resize handle in some browsers */
  
}

.chat-input button {
  background-color: #0084FF;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  height: 100%; /* Ensure the button takes up the full height */
}
